.container {
    display: flex;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    /* border: 2px solid blue; */
    width: 570px;
    transition: transition 0.3s ease-in-out;
    /* position: relative; */
}

.container:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.dropdownIcon {
    margin-right: 20px;
    /* position: fixed; */
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* border: 2px solid red; */

}

.content {
    padding: 0px 20px;
}

.content .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #454555;
    margin-bottom: 8px;
}

.content .description {
    font-size: 1rem;
    font-weight: 500;
    color: #767587;
    margin-bottom: 10px;
    line-height: 1.5;
}

.content .readMore {
    font-size: 1rem;
    font-weight: 600;
    color: #0047B2;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 8px;
}

.expandedContent {
    margin-top: 10px;
    color: #767587;
    line-height: 1.6;
}
