.card{
    background: #F5F8FE;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 24px;
    width: 300px;
    height: 370px;
    /* border: 2px solid #0047B2; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); 
}

.card2{
    animation: appearFromRight ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

.card1{
    animation: appearFromCenter ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

.card0{
    animation: appearFromLeft ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}


.card img{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    /* border: 2px solid red; */
}


.card .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0047B2;
    margin-bottom: 10px;
    margin-top: 10px;
    /* border: 2px solid red; */
}

.card .description{
    color: #6C757D;
    height: 250px;
    /* border: 2px solid blue; */
    line-height: 1.5;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* border: 2px solid green; */
}

.buttonContainer .button{
    text-decoration: none;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background: #1C1C1C;
    color: white;
    cursor: pointer;
}


@keyframes appearFromCenter{
    from{
        opacity: 0.25;
        /* scale: 0.5; */
        transform: translateY(250px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translateY(0);
    }
}

@keyframes appearFromLeft{
    from{
        opacity: 0.25;
        transform: translate(-200px, 250px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translate(0px, 0px);
        /* transform: translateZ(0); */
    }
}

@keyframes appearFromRight{
    from{
        opacity: 0.25;
        /* scale: 0.5; */
        transform: translate(200px, 250px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translate(0px, 0px);
        transform: translateY(0);
    }
}