.footer {
    background: linear-gradient(to right,#012F73, #0248B3);
    display: flex;
    align-items: center;
    color: white;
    padding: 20px 0;

}

.footerContainer{
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 20%;
}

.footerLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoImage {
    width: 20%; 
    height: auto;
}

.footerText{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 30px;
    font-weight: 500;
    
}

.footerDescription{
    width: 75%;
    font-size: 14px;
    font-weight: 400;
}

.socialmediaLogoContainer {
    margin-top: 3%;
}

.socialmediaLogo{
    margin: 10px;
}

.linksContainer{
    padding: auto;
}

td {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
