.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

.content h1{
    font-size: 3rem;
    color: #0047B2;
    /* margin-bottom: 20px; */
    /* border: 2px solid red; */
}

.content p{
    font-size: 1rem;
    font-weight: 500;
    color: #454555;
    margin: 0px 250px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.button{
    padding: 12px 26px;
    margin: 0 10px;
    border: 2px solid #0047B2;
    border-radius: 25px;
    background-color: #0047B2;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: #0047B2;
}

