.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
}

.content {
    padding: 20px 30px;
    width: 40%;
}

.content h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #454555;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    color: #454555;
    margin-bottom: 20px;
}

.testimonialcards {
    width: 80%;
    background: #DCE8FD;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}

.card {
    padding: 20px 40px;
    transition: transform 0.5s ease-out;
}

.cardHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 10px 0 30px;
    /* border: 2px solid blue; */
}

.cardHeading h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #0047B2;
}

.dotContainer {
    /* font-size: 2.5rem;
    color: #767587; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.dots{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #767587;
    padding: 2px;
}

.dotActive {
    background-color: #0047B2;
    opacity: 1;
}

.dotnotActive {
    background-color: #767587;
    padding: 1px;
    opacity: 0.5;
}


.description {
    min-height: 150px; /* Adjust based on expected content */
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    color: #454555;
    text-align: justify;
    /* border: 2px solid blue;            */
  }

.profileContainerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile img {
    border-radius: 60px;
    margin-right: 10px;
}

.profileInfo h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: #454555;
    margin: 10px 0 5px;
}

.profileInfo p {
    font-size: 0.8rem;
    color: #454555;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    color: #454555;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #454555;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f8f7f7;
}
