.container {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    height: 220vh;
    border-top: 1px solid #0047B2;
}

.leftSection {
    position: absolute;
    width: 100%;
    flex: 1;
    /* margin-right: 20px; */
}

.courseHeading {
    height: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    padding-top: 50px;
    background-color: #0047B2;
    position: relative;
}

.courseDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-left: -250px;
}

.heading {
    width: 830px;
    height: 45px;
    margin-top: 20px;
    font-style: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.title {
    margin-top: -5px;
    margin-left: -10px;
    font-style: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 58px;
    padding-bottom: 10px;
    color: white;
    /* border: 2px solid red; */
}

.description {
    width: 700px;
    margin-top: -130px;
    font-style: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: white;
    /* border: 2px solid red; */
}

.extraInfo {
    display: flex; 
    flex-direction: row;
}

.info {
    display: flex;
}

.info p {
    margin-left: 4px;
    margin-right: 30px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-style: "Jost", sans-serif;
}

.info img {
    width: 16px;
    height: 16px;
}

.rating {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    /* border: 2px solid red; */
}

.rating p {
    margin-top: 0px;
    margin-right: 10px;
    font-style: "Lexend", sans-serif;
    font-weight: 550;
    font-size: 14px;
    color: #F1C40F;
}

.rating img {
    width: 83px;
    height: 15px;
}

.courseLearning {
    width: 680px;
    height: 230px;
    margin-top: 100px;
    margin-left: 136px;
    border-radius: 12px;
    padding: 20px;
    gap: 18px;
    border: 1px solid #454555;
}

.whatHeading {
    margin-left: 10px;
    font-style: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.info1 {
    width: 300px;
    height: 84px;
    margin-bottom: 15px;
    font-style: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* border: 2px solid red; */
}

.info2 {
    width: 300px;
    height: 84px;
    margin-top: -105px;
    margin-left: 53%;
    font-style: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.info3 {
    width: 300px;
    height: 84px;
    font-style: "Manrope", sans-serif;
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
}

.rightSectionWrapper {
    /* flex: 0 0 300px; */
    position: sticky;
    width: 320px;
    height: 700px;
    /* right: 0;  */
    margin-left: auto;
    margin-right: 100px;
    margin-top: 120px;
    top: 20px; 
    /* border: 2px solid red; */
    
}

.rightSection {
    width: 320px;
    height: 700px;
    position: absolute;
    /* margin-top: 150px; */
     /* right: 30px; */
    /* top: 200px;  */
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1.5px solid black;
}

.coursePreview {
    position: relative;
    display: inline-block;
    /* margin-top: -100px; */
}

.coursePreview img {
    display: block;
    width: 100%;
    /* height: auto; */
}

.coursePricing {
    display: flex;
    flex-direction: row;
}

.price {
    width: 116px;
    height: 50px;
    font-size: 40px;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 25px;
    /* border: 2px solid red; */
}

.discount {
    width: 87px;
    height: 30px;
    margin-top: 30px;
    margin-left: -10px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: #F0C932;
}

.timeLeft {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    margin-left: 20px;
}

.timeLeft img {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.timeLeft p {
    margin-top: -2px;
    font-style: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #AA3030;
}

.buyDetails {
    /* display: flex; */
    /* flex-direction: row; */
}

.details {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cart {
    width: 219px;
    height: 41px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 15px;
    /* margin: 15px 15px; */
    background-color: #0047B2;
    border: none;
}

.cart p {
    font-style: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-align: center;
}

/* .wishlist {
    width: 44px;
    height: 44px;
    margin-top: 0px;
} */

.wishlist {
    width: 42px;
    height: 42px;
    margin-top: 6px;
    /* padding-top: 15px; */
    /* border: 2px solid red; */
    /* margin-right: 80px; */
}

.buy {
    width: 283px;
    height: 46px;
    margin-top: 15px;
    margin-left: 14px;
    border-radius: 8px;
    background-color: white;
    border: 1.5px solid black;
}

.buy p {
    font-style: "Lexend", sans-serif;
    font-weight: 550;
    font-size: 15px;
    text-align: center;
}

.moneyBack {
    width: 170px;
    height: 9px;
}

.moneyBack p {
    width: 200px;
    margin-left: 68px;
    margin-top: -5px;
    font-style: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #818181;
    /* border: 2px solid red; */
}

.courseInclude {
    /* display: flex; */
}

.includes {
    margin-left: 30px;
    font-style: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    /* border: 2px solid red; */
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.content img {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 8px;
}

.content p {
    margin-top: -8px;
    font-style: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.gift {
    display: flex;
    gap: 20px;  
}

.gift p {
    font-style: "Lexend", sans-serif;
    font-weight: 800;
    font-size: 12px;
}

.p1 {
    margin-left: 50px;
}

.coupons {
    width: 175px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
}

.coupons::placeholder {
    font-style: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #979797;
}

.apply {
    width: 90px;
    height: 43px;
    color: white;
    font-style: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: black;
    border: 1px solid black;
}